{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Vanya Hill Resort</title>
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'cart.css' %}">
    <link rel="stylesheet" href="{% static 'mobile.css' %}">
    <link rel="stylesheet" href="{% static 'head-footer.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</head>

<body>
    <header>
        <div class="css-123">
            <div class="head-css">
                <a href="{% url 'index' %}">
                    <img src="{% static 'vl.png' %}" alt="Logo" width="170px" height="60px">
                </a>
                {% if current_user.is_authenticated %}
                <div class="css-res-12">
                    <a href="{% url 'cart' %}" class="b-button">My Bookings</a>
                    <a href="{% url 'user_carts' %}"  class="s-button">Previous Bookings</a>
                    <a href="{% url 'logout' %}"  class="s-button">Log out</a>
                </div>
                {% else %}
                <div class="css-122">
                    <a href="{% url 'login' %}" target="_blank" class="s-button">Sign in or Join</a>
                </div>
                {% endif %}
                <div class="mobile-hamburger">
                    <iconify-icon icon="iconamoon:menu-burger-horizontal-thin" onclick="openNav()"
                        height="33px"></iconify-icon>
                </div>
            </div>
        </div>
        <div class="b-t m-b">
            <div class="css-123">
                <div class="css-124">
                    <nav>
                        <ul class="css-223">
                            <li class="css-list"><a href="{% url 'index' %}" class="list-a">Home</a></li>
                            <li class="css-list"><a href="{% url 'service' %}" class="list-a">Services</a></li>
                            <li class="css-list"><a href="#" class="list-a">About</a></li>
                            <li class="css-list"><a href="#" class="list-a">Contact</a></li>
                        </ul>
                    </nav>
                    <a href="{% url 'service' %}" class="b-button">Book Now</a>
                </div>
            </div>
        </div>
         <!-- mobile menu  -->
         <div class="overlay" id="mobile-nav" style="width:100%;">
            <a href="javascript:void(0)" class="closebtn" onclick="hidePopup()" style="font-size: 55px;">×</a>

            <div class="overlay-content">
                <div class="css-menu">
                    <p>Menu</p>
                </div>
                <div class="css-item">
                    <ul>
                        <li><a href="{% url 'index' %}" class="css-a">Home</a></li>
                        <li><a href="{% url 'service' %}" class="css-a">Service</a></li>
                        <li><a href="log-in.html" class="css-a css-h">About</a></li>
                        <li><a href="Contact.html" class="css-a">Contact</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{% url 'cart' %}" class="b-button css-mobile-side">My Bookings</a></li>
                        <li><a href="{% url 'user_carts' %}"  class="s-button css-mobile-side">Previous Bookings</a></li>
                        <li><a href="{% url 'logout' %}"  class="s-button css-mobile-side">Log out</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}" class="css-ht4">Sign In or Join</a></li>
                        {% endif %}
                    </ul>
                    <a href="{% url 'service' %}" class="css-mobile">Book Now</a>
                </div>
            </div>
        </div>
        <!-- ==================== -->
    </header>
    <div class="css-cart-bg"></div>
    <section class="css-cart-main">
        <div class="css-cart-form">
            <div class="css-head-cart">
                <h1>Cart Details</h1>
            </div>
            
            <div class="css-table-total">

                <div class="cart-table">
                    {% for item in items %}
                    <div class="css-tr">
                        <img src="/media/{{item.product.title_images.first.image}}" alt="Cottage Image" width="245px" height="240px">
                        <div class="css-cart-info">
                            <div class="css-cart-li">
                                <h3>Cottage Type</h3>
                                <p>{{item.product.product_name}}</p>
                            </div>
                            <div class="css-cart-li">
                                <h3>Quantity</h3>
                                <p>{{item.ncottage}}</p>
                            </div>
                            <div class="css-cart-li">
                                <h3>Price</h3>
                                <p>₹{{item.total_price}}</p>
                            </div>
                            <div class="css-cart-li">
                                <h3>Check-In</h3>
                                <p>{{item.dfrom}}</p>
                            </div>
                            <div class="css-cart-li">
                                <h3>Check-Out</h3>
                                <p>{{item.dto}}</p>
                            </div>
                            <div class="css-cart-li">
                                <h3>Number of Nights</h3>
                                <p>{{item.nn}}</p>
                            </div>
                            <button class="remove-button"><a href="{% url 'remove_cart' item.uid %}" style="color: aliceblue; text-decoration: none;">Remove</a></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add rows for each item in the cart -->

                <div class="css-cart-total">
                    <div class="css-cart-total-1">
                        <h1>Your Stay</h1>
                        <div class="css-rooms">
                            <p style=" font-size:1.2rem;">Total</p>
                            <p style="font-weight:bold; font-size:1.2rem">₹{{full_price}}</p>
                        </div>
                        <button class="add-button" id="rzp-button1">Make Payment</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="foot-css">
            <div class="css-logo">
                <a href="../index.html">
                    <img src="{% static 'vl.png' %}" alt="Logo" width="170px" height="60px">
                </a>
            </div>
            <div class="css-footer">
                <div class="css-350">
                    <p class="css-143">Services</p>
                    <ul class="css-209">
                        <li class="css-210"><a href="{% url 'service' %}" class="css-211">Mini Cottage</a></li>
                        <li class="css-210"><a href="{% url 'service' %}" class="css-211">Suit Cottage</a></li>
                        <li class="css-210"><a href="{% url 'service' %}" class="css-211">Deluxe Cottage</a></li>
                        <li class="css-210"><a href="{% url 'service' %}" class="css-211">Royal Cottage</a></li>
                    </ul>
                </div>
                <div class="css-350">
                    <p class="css-143">Quick Links</p>
                    <ul class="css-209">
                        <li class="css-210"><a href="{% url 'index' %}" class="css-211">Home</a></li>
                        <li class="css-210"><a href="#" class="css-211">Packages</a></li>
                        <li class="css-210"><a href="#" class="css-211">About</a></li>
                        <li class="css-210"><a href="#" class="css-211">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="css-footer-1">
                <div class="css-352">
                    <p class="css-143">Connect</p>
                    <div class="link-css">
                        <a href="#" class="css-349"><iconify-icon icon="mdi:facebook" class="f"></iconify-icon></a>
                        <a href="#" class="css-349"><iconify-icon icon="iconoir:instagram" class="i"></iconify-icon></a>
                        <a href="#" class="css-349"><iconify-icon icon="ant-design:linkedin-filled"
                                class="l"></iconify-icon></a>
                        <a href="#" class="css-349"><iconify-icon icon="basil:youtube-solid"
                                class="y"></iconify-icon></a>
                    </div>
                </div>
            </div>


        </div>
        <div class="css-789">
            <p class="css-09">© 2023 Vanya Hill Resort</p>
        </div>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mobile-nav").style.width = "70%";
            document.getElementById("mobile-nav").style.display = "block";
        }
        function hidePopup() {
            document.getElementById("mobile-nav").style.width = "0%";
        }
    </script>
    <script>
        var className = "globalStickyHeader";
        var scrollTrigger = 80;

        window.onscroll = function () {
            // We add pageYOffset for compatibility with IE.
            if (window.scrollY >= scrollTrigger || window.pageYOffset >= scrollTrigger) {
                document.getElementsByClassName("b-t")[0].classList.add(className);
            } else {
                document.getElementsByClassName("b-t")[0].classList.remove(className);
            }
        };

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_NZP18BrAxewbjS", // Enter the Key ID generated from the Dashboard
    "amount": "{{full_price}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Vanya Hill Resorts",
    "description": "Purchases",
    "image": "{% static 'icon.png' %}",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        window.location.href = 'http://127.0.0.1:8000/accounts/pay-successful/?order_id={{payment.id}}'
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.description);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
    
</body>

</html>